/* 左侧栏样式 */
.setting-sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    padding: 10px;
    background-color: #ffffff;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}

.setting-sidebar h2 {
    margin-top: 0;
    font-size: 1.2em;
    color: #333;
}

/* 头像容器样式 */
.setting-profile-container {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 20px 0;
}

.setting-profile-picture {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #ddd;
}

/* 右侧内容区样式 */
.content {
    grid-column: 2 / 4;
    grid-row: 1 / -1;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 8px;
}

.content h2 {
    font-size: 1.5em;
    color: #333;
}

.setting-info {
    display: flex;
    gap: 2em;
    margin-top: 20px;
    width: 100%;
    justify-content: space-evenly;
}

.setting-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 20px;
    justify-content: center;
}

/* 输入框和选择框容器 */
.input-group {
    margin-bottom: 15px;
    text-align: center;
    max-width: 100%;
}

/* 标签样式 */
.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* 输入框和选择框样式 */
.input-group input,
.input-group select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    appearance: none; /* 移除默认浏览器的样式 */
    background-color: white;
    font-size: 16px;
}

/* 设置选择框的箭头居中 */
.input-group select {
    text-align-last: center; /* 让选中的选项居中显示 */
    cursor: pointer;
}

.commit-button {
    width: 20%;
    max-width: 100px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.commit-button:hover {
    background-color: #45a049;
}