/* 时下热门 */
.ad {
    grid-column: 3;
    grid-row: 1 / -1;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 我的队伍 */
.team {
    grid-column: 2 / 3;
    grid-row: 2 / -1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    text-align: center;
    border-radius: 8px;
}

.team h2 {
    font-size: 1.5em;
    color: #333;
}

/* 公告 */
.announcement {
    grid-column: 2;
    grid-row: 1;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.scroll-item {
    width: 90%;
    height: 150px;
    background-color: #ddd;
    border: 1px solid #ccc;
    position: relative;
}

.competition-item {
    text-align: center;
    justify-items: center;
}

.competition-item-title {
    font-size: 1.5em;
    text-align: center;
}

.class-title {
    font-size: 1em;
    text-align: center;
}

.competition-item-description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 32em;
    padding: 0 2em;
}

